**/logs
**/mlruns
**/.env
017-kubeflow/opt
017-kubeflow/kfctl_v1.0.1-0-gf3edb9b_darwin.tar.gz
017-kubeflow/kfctl
23-ph-poverty-mapping/ph-poverty-mapping/geo-ai-project-08bc5e14e00a.json
023-ph-poverty-mapping/ph-poverty-mapping/geo-ai-project-08bc5e14e00a.json
geo-ai-project-08bc5e14e00a.json
.ipynb_checkpoints
.DS_Store
